.TaskTab {
  color: lightgray;
  
}

.Timetable {
  width: 50%;
  border: 10px;
  /* border-color: cyan; */
  color: black;
}


#addTaskTab{
  width: 25%;
  display: inline-block;
}

#timeTable {
  width: 75%;
  display: inline-block;
}


.App{
  display: flex;
  flex-direction: row;
  /* flex-grow: ; */
}
