
#addTaskTab{
  width: 30%;
  display: inline-block;
}

#timeTable {
  width: 70%;
  display: inline-block;
}


.App{
  display: flex;
  flex-direction: row;
  /* flex-grow: ; */
}

.input-details{
  color: darkblue;
}
