@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
 
 .App{
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
} 

#addTaskTab{
  width: 30%;
  height: 100vh;
  display: inline-block;
  color: darkslategray;

  background-color: white;
    
}

#timeTable {
  width: 70%;
  height: 100vh;
  display: inline-block;
  color: darkslategrey;
  background-color: white;
  
}

.TaskTab {
  text-align: center;
}

.TaskTab h1 
{
  padding: 5px;
  margin:20px;
  /* color: red; */
}

.input-details label{
  /* text-align: center; */
  display: block;
  
}

.add-form{
  margin:5px;
}

.add-form div{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px;
}



.add-form label{
  padding-bottom: 5px;
}

.input-details input{
  width:225px;
}

.submit-button{
  border-width: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 5px;
}

Input {
  background-color: white;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.10);
}

/*  */
.Timetable table {
  color: darkslategray;
}

.fc-view-harness {
  background-color:rgb(245, 245, 245);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.10);
}

/*  */
.fc-col-header-cell-cushion  {
  /* background-color: ; */
  color: darkslategray;
  
}

.cram-day-button {
  padding-top: 0px;
  padding-bottom: 20px;
}

.countdown h3{
  /* margin: 20px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.fc {
  margin-right: 20px;
}